nav {
	background-color: #256d85;
	padding: 16px;
	max-height: 25px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

nav h3 {
	margin: 0;
	padding: 0;
}

nav .search-bar {
	background-color: white;
	height: 30px;
	width: 300px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

nav .search-bar span {
	margin: 0;
	padding: 0;
	background-color: #06283d;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 5px 0 0 5px;
}

nav input {
	margin: 0;
	padding: 0 8px;
	height: 30px;
	width: 250px;
	border: none;
	border-radius: 0 5px 5px 0;
	color: #06283d;
}

nav .authenticated {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .authenticated span {
	font-size: 12px;
	margin-left: 16px;
	color: #dff6ff;
	cursor: pointer;
}

nav .authenticated span:hover {
	color: #47b5ff;
	/* font-weight: bold; */
}

.results {
	position: absolute;
	background-color: #256d85;
	top: 55px;
	width: 100vw;
	padding: 16px 0;
	max-height: 250px;
	color: white;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.results .item {
	width: 100%;
	padding: 8px 0;
	cursor: pointer;
	text-align: center;
}

.results .item:hover {
	background-color: #06283d;
}
